body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #ddd;
  
}

section input {
  margin: 20px 0 20px 20px;
}

div#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  color: #000;
}


li {
  max-width: 200px;
  margin: 20px;
  list-style-type: none;
}

img {
  width: 200px;
  height: 300px;
}